{% extends 'base.html' %}

{% block logo %}
    {% if company_logo %}
        <h1>{{ company.name }} Battles</h1>
        <img src="{{ company_logo.logo.url }}" alt="{{ company.name }} Logo">
    {% else %}
        <h1>Office Battles</h1>
    {% endif %}
{% endblock %}

{% block main %}
    <h2>Company view</h2>

    <h2>Company name: {{ company.name }}</h2>

    <h2>Links</h2>
    <ul>
        <li><a href="{% url 'company:index' %}">Home</a></li>
        <li><a href="{% url 'company:company_new' %}">Company add</a></li>
        <li><a href="{% url 'company:list' %}">Company list</a></li>
        <li><a href="{% url 'company:company_view' company.id %}">Company home</a>
        <li><a href="{% url 'office:office_new' company.id %}">Company office add</a></li>
        <li><a href="{% url 'office:list' company.id %}">Company office list</a>
    </ul>
{% endblock %}
