{% extends 'base.html' %}

{% block title %}
    Office Battles | Company List
{% endblock %}

{% block header %}
    {% if company_logo %}
        <span>{{ company.name }} Battles</span>
        <img src="{{ company_logo.logo.url }}" alt="{{ company.name }} Logo" class="logo">
    {% else %}
        <span>Office Battles</span>
    {% endif %}
{% endblock %}

{% block main %}
    <h1>Company List</h1>

    {% if company_list %}
        <ul>
        {% for company in company_list %}
            <li>
                <a href="{% url 'company:company_view' company.id %}">{{ company.name }} ({{ company.id }})</a>
                <a href="{% url 'company:company_edit' company.id %}"> - Edit</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No companies are available.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    <h2>Links</h2>
    <ul>
        <li><a href="{% url 'company:company_new' %}">Company add</a></li>
    </ul>
{% endblock %}
