<h1>Home</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo metus neque, nec tempor diam rhoncus eget. Nulla maximus, magna at porttitor elementum, nibh dui ultrices sem, sit amet condimentum sem velit vitae lacus. Nam nibh nibh, rutrum vel faucibus quis, iaculis eu ante. In imperdiet mi ut nisl scelerisque sagittis vel in ante. Suspendisse eleifend massa purus, at aliquam velit fringilla nec. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eu iaculis lectus. Nulla vulputate dolor sit amet orci gravida, sit amet tristique purus scelerisque. Morbi eu porta metus. Vivamus luctus nulla magna, at dictum quam imperdiet nec.</p>

<h2>Links</h2>

<ul>
    <li><a href="{% url 'company:index' %}">Home</a></li>
    <li><a href="{% url 'company:company_new' %}">Company add</a></li>
    <li><a href="{% url 'company:list' %}">Company list</a></li>
</ul>
