<h1>Company list</h1>

{% if company_list %}
    <ul>
    {% for company in company_list %}
        <li><a href="{% url 'company:view' company.id %}">{{ company.name }} ({{ company.id }})</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No companies are available.</p>
{% endif %}

<h2>Links</h2>
<h3>Company links</h3>
<ul>
    <li><a href="{% url 'company:index' %}">Company index</a></li>
    <li><a href="{% url 'company:list' %}">Company list</a></li>
    <li><a href="{% url 'company:add' %}">Company add</a></li>
</ul>
