<h1>Company list</h1>

<h2>Companies</h2>

{% if company_list %}
    <ul>
    {% for company in company_list %}
        <li>
            <a href="{% url 'company:company_view' company.id %}">{{ company.name }} ({{ company.id }})</a>
            <a href="{% url 'company:company_edit' company.id %}"> - Edit</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No companies are available.</p>
{% endif %}

<h2>Links</h2>

<ul>
    <li><a href="{% url 'company:index' %}">Home</a></li>
    <li><a href="{% url 'company:company_new' %}">Company add</a></li>
    <li><a href="{% url 'company:list' %}">Company list</a></li>
</ul>
