{% extends 'base.html' %}

{% block title %}
    {{ company.name }} Battles | Company Logo
{% endblock %}

{% block header %}
    {% include "header.html" with company=company company_logo=company_logo %}
{% endblock %}

{% block main %}
    <h1>Company Logo</h1>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Upload logo" />
    </form>
{% endblock %}

{% block footer %}
    <h2>Links</h2>
    <ul>
        <li><a href="{% url 'company:company_list' %}">Company list</a></li>
        <li><a href="{% url 'company:company_new' %}">Company add</a></li>
        <li><a href="{% url 'office:list' company.id %}">Office list</a>
        <li><a href="{% url 'office:office_new' company.id %}">Office add</a></li>
    </ul>
{% endblock %}
