{% extends 'base.html' %}

{% block title %}
    Office Battles | Battle View
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <h1>Battle View</h1>

    <ul>
        <li>Date: {{ battle.created }}</li>
        <li>Game: {{ battle.game }}</li>
        <li>Players:
            <ul>
            {% for player in battle.players.all %}
                <li>{{ player.username }}</li>
            {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block footer %}
    {% include "footer.html" with company=company office=office battle=battle %}
{% endblock %}
