{% extends 'base.html' %}

{% load filter_teams %}

{% block title %}
    Office Battles | Battle List
{% endblock %}

{% block header %}
    {% include "header.html" with company=company company_logo=company_logo %}
{% endblock %}

{% block main %}
    <h1>Battle List</h1>

    <h2>Battles</h2>
    {% if battles %}
        <table>
            <tr>
                <th>Date</th>
                <th>Game</th>
                <th>Home</th>
                <th>Away</th>
                <th>Result</th>
            </tr>
            {% for battle in battles %}
                <tr>
                    <td>
                        {{ battle.created }}
                    </td>
                    <td>
                        {{ battle.game }}
                    </td>
                    <td>
                        {% for result in battle.result_set|team:'home' %}
                            {{ result.player }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for result in battle.result_set|team:'away' %}
                            {{ result.player }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for result in battle.result_set|team:'home' %}
                            {{ result.score }}
                        {% endfor %}
                        -
                        {% for result in battle.result_set|team:'away' %}
                            {{ result.score }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no battles available.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "footer.html" with battle=battle %}
{% endblock %}
