{% extends 'base.html' %}

{% block title %}
    Office Battles | Game Add
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <h1>Game Add</h1>

    <form action="{% url 'game:save' office.company_id office.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save" />
    </form>
{% endblock %}

{% block footer %}
    <h2>Links</h2>
    <ul>
        <li><a href="{% url 'office:office_list' office.company_id %}">Office list</a>
        <li><a href="{% url 'office:office_new' office.company_id %}">Office add</a></li>
        <li><a href="{% url 'game:list' office.company_id office.id %}">Office game list</a></li>
        <li><a href="{% url 'game:add' office.company_id office.id %}">Office game add</a>
    </ul>
{% endblock %}
