{% extends 'base.html' %}

{% block title %}
    Office Battles | Game List
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <h1>Game List</h1>

    <span>Office name: {{ office.name }}</span>

    {% if office_game_list %}
        <h2>Games</h2>
        <ul>
        {% for game in office_game_list %}
            <li><a href="{% url 'game:view' office.company_id game.office_id game.id %}">{{ game.name }} ({{ game.id }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No games are available.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "footer.html" with company=company office=office %}
{% endblock %}
