<div class="footer__links">
    <h2>Links</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'company:company_list' %}">Company list</a></li>
        <li><a href="{% url 'company:company_new' %}">Company new</a></li>

        {% if company %}
            <li><a href="{% url 'company:company_view' company.id %}">Company view</a></li>
            <li><a href="{% url 'company:company_edit' company.id %}">Company edit</a></li>
            <li>Company delete</li>
            <li><a href="{% url 'company:logo_upload' company.id %}">Company logo</a></li>
            <li><a href="{% url 'office:office_list' company.id %}">Office list</a>
            <li><a href="{% url 'office:office_new' company.id %}">Office new</a></li>
        {% endif %}

        {% if office %}
            <li><a href="{% url 'office:office_view' office.company_id office.id %}">Office view</a></li>
            <li>Office edit</li>
            <li><a href="{% url 'office:office_delete' office.id %}">Office delete</a></li>
            <li><a href="{% url 'game:list' office.company_id office.id %}">Game list</a></li>
            <li><a href="{% url 'game:add' office.company_id office.id %}">Game new</a></li>
        {% endif %}

        {% if game %}
            {# Links where 'game' object is required here #}
        {% endif %}

        <li><a href="{% url 'battle:battle_list' %}">Battle list</a></li>
        <li><a href="{% url 'battle:battle_new' %}">Battle new</a></li>

        {% if battle %}
            {# Links where 'battle' object is required here #}
        {% endif %}

        {% if result %}
            {# Links where 'result' object is required here #}
        {% endif %}
    </ul>
</div>
