<h1>Company office list</h1>

<h2>Company name: {{ company.name }}</h2>

<h2>Offices</h2>

{% if office_list %}
    <ul>
    {% for office in office_list %}
        <li><a href="{% url 'office:view' office.company_id office.id %}">{{ office.name }} ({{ office.id }})</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No offices are available.</p>
{% endif %}

<h2>Links</h2>

<ul>
    <li><a href="{% url 'company:index' %}">Home</a></li>
    <li><a href="{% url 'company:add' %}">Company add</a></li>
    <li><a href="{% url 'company:list' %}">Company list</a></li>
    <li><a href="{% url 'company:view' company.id %}">Company view</a>
    <li><a href="{% url 'office:add' company.id %}">Company office add</a></li>
    <li><a href="{% url 'office:list' company.id %}">Company office list</a>
</ul>
