{% extends 'base.html' %}

{% block title %}
    Office Battles | Office List
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <h1>Office List</h1>

    <span>Company name: {{ company.name }}</span>

    {% if office_list %}
        <ul>
        {% for office in office_list %}
            <li><a href="{% url 'office:office_view' office.company_id office.id %}">{{ office.name }} ({{ office.id }})</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No offices are available.</p>
    {% endif %}
{% endblock %}

{% block footer %}
    <h2>Links</h2>
    <ul>
        <li><a href="{% url 'company:company_list' %}">Company list</a></li>
        <li><a href="{% url 'company:company_new' %}">Company add</a></li>
        <li><a href="{% url 'company:company_view' company.id %}">Company view</a></li>
        <li><a href="{% url 'office:list' company.id %}">Office list</a></li>
        <li><a href="{% url 'office:office_new' company.id %}">Office add</a></li>
    </ul>
{% endblock %}
