{% extends 'base.html' %}

{% block title %}
    Office Battles | Office View
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <h1>Office View</h1>

    <span>Office name: {{ office.name }}</span>
{% endblock %}

{% block footer %}
    <h2>Links</h2>
    <ul>
        <li><a href="{% url 'company:company_list' %}">Company list</a></li>
        <li><a href="{% url 'company:company_new' %}">Company add</a></li>
        <li><a href="{% url 'company:company_view' office.company_id %}">Company view</a></li>
        <li><a href="{% url 'office:list' office.company_id %}">Office list</a></li>
        <li><a href="{% url 'office:office_new' office.company_id %}">Office add</a></li>
        <li><a href="{% url 'game:list' office.company_id office.id %}">Game list</a></li>
        <li><a href="{% url 'game:add' office.company_id office.id %}">Game add</a></li>
    </ul>
{% endblock %}
